
/**
* Body CSS
*/

html,
body {
	height: 100%;
	overflow-wrap: break-word;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}

html,
body,
input,
textarea,
button {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

ol {
	padding-left: 25px;
	display: grid;
  grid-row-gap: 10px;
}

li {
	padding-left: .5em;
	word-break: break-word;
}

/**
* Sidebar CSS
*/

#sidebar {
	background-color: #2196F3;
	padding: 15px;
}

#sidebar .rights {
	position: fixed;
	bottom: 0;
}


.note {
	display: flex;
}

.removenote {
	width: 25px;
	height: auto;
	background: none;
	border: none;
	cursor: pointer;
	padding-top: 2px;
}

.deletenote {
	width: 25px;
	height: auto;
	cursor: pointer;
	border-radius: 50%;
	background: transparent;
	border-color: transparent;
	padding: 0 5px;
}

path {
	fill: tomato !important;
}

.deletenote svg {
	pointer-events: none;
	vertical-align: middle;
}

.author {
	font-size: .8rem;
}

.floating-btn {
	position: fixed;
	bottom: 50px;
	right: 50px;
}

.modal {
	max-width: 600px;
	/* max-height: 300px; */
	max-height: 80vh;
	margin: 100px auto; /* m100-auto */
	overflow-y: auto;
	background: #fff;
}

.modal > h1 {
	text-align: center;
}

.modal .modal-content {
	min-height: 100px;
	position: relative;
	padding: 1rem;
}

.modal .modal-content p{
	/* text-align: center; */
	position: absolute;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%, -50%);
}

.error {
	color: red;
}


@media (min-width: 768px) {
	#sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
		width: 180px;
		height: 100%;
		padding-top: 30px;
	}
	#content {
		margin-left: 180px;
	}
}

@media (max-width: 768px) {
	ol {
		padding-left: 20px;
	}
}